{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '/accountApp/css/user-home.css' %}">
{% endblock style %}

{% block content %}
    <a href="{% url 'logout' %}" class="">ログアウト</a>

    {% if user.profile_image == '' %}
        <img src="{% static '/accountApp/images/default-user.png' %}" class="user-icon">
    {% else %}
        <img src="{{ user.profile_image.url }}" class="user-icon">
    {% endif %}

    <h3>{{ user.username }}</h3>
    
{% endblock content %}